*{
  background: #F1F1F1;
}

header{
  display: flex;
  width: 100%;
  justify-content: center;
}

.headcontainer{
  position: absolute;
  width: 500px;
  height: 175px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
}

.title{
  margin: 0;
  font-size: 80px;
  line-height: 145px;
  border-radius: 3px;
  color: #746E66;
}

.score{
  position: absolute;
  padding-top: 5px;
  top: 45px;
  right: 135px;
  background: #B7ADA2;
  width: 130px;
  height: 55px;
  border-radius: 3px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.best{
  position: absolute;
  padding-top: 5px;
  right: 0;
  top: 45px;
  background: #B7ADA2;
  width: 130px;
  height: 55px;
  border-radius: 3px;

  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.restart{
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  cursor: pointer;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  position: absolute;
  right: 0;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.GridElement{
  position: relative;
  float:left;
  display: block;
  width: 106.25px;
  height: 106.25px;
  line-height: 106.25px;
  text-align: center;
  color: white;
  border-radius: 3px;
  font-size: 40px;
  font-weight: 500;
  margin: 15px 0 0 15px;
  background: #eee4da59;
}