.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 20px auto;
    background-color: #bbada0;
    border-radius: 5px;
    padding: 10px;
  }
  
  .grid-row {
    display: flex;
  }
  