.container {
    position: absolute;
    display: flex;
    top:40px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .GameContainer {
    top:30%;
    background-color: #bbada0;
    width: 500px;
    height: 500px;
    border-radius: 6px;
    position: fixed;
    box-sizing: border-box;
    display: block;
  }
